<div>

    <h1>Filmes</h1>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Data Lançamento</th>
                <th>Valor</th>
                <th>Tamanho Arquivo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let filme of mapped'>
                <img [src]="filme?.imagem" style="padding-bottom: 5px;">
                <td>{{ filme.nome | titlecase }}</td>
                <td>{{ filme.dataLancamento | date:"dd/MM/yyyy" }}</td>
                <td>{{ filme.valor}}</td>
                <td>{{ filme.tamanho | fileSize }}</td>
            </tr>
        </tbody>
    </table>
</div>
